<form action='/administration/doctors' method='post'>
  <div class='form-group'>
    <input id='name' name='name' type='text'>
    <label for='name'>Enter in the name of the doctor:</label>
    <input id='specialty' name='specialty' type='text'>
    <label for='specialty'>Enter in the specialty of the doctor:</label>
    <button type='submit'>Add Doctor</button>  
  </div>
</form>
