<form action='/administration/doctors/<%= @doctor.id() %>/patients/' method='post'>
  <div class='form-group'>
    <input id='doctor_id' name='doctor_id' type='hidden' value='<%= @doctor.id() %>'>
    <input id='name' name='name' type='text'>
    <label for='name'>Enter in the name of the patient:</label>
    <input id='birthday' name='birthday' type='text'>
    <label for='birthday'>Enter in the birthday of the patient:</label>
    <button type='submit'>Add Patient</button>
  </div>
</form>
